main {
    background: linear-gradient(135deg, #ff7e5f, #feb47b);
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    font-size: 1.2em;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    line-height: 1.6;
    width: 50%;
    justify-self: center;
}

main :hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}